@model IEnumerable<ConcertTickets.ViewModels.ConcertViewModel>

<h1>Concert overzicht</h1>
<div class="row">
    @foreach (var concert in Model)
    {
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="@concert.ArtistPictureUrl" alt="@concert.Artist">
                <div class="card-body">
                    <h5 class="card-title">@concert.Artist</h5>
                    <p class="card-text">@concert.Location</p>
                    <p class="card-text">@concert.Date.ToString("dd MMM yyyy")</p>
                    <p class="card-text">
                        <strong>@concert.TotalTicketsAvailable tickets beschikbaar</strong>
                    </p>
                    <a href="@Url.Action("Buy", "Concert", new { id = concert.Id })" class="btn btn-primary">
                        @if (concert.TotalTicketsAvailable > 10)
                        {
                            <span>Koop tickets</span>
                        }
                        else if (concert.TotalTicketsAvailable > 0)
                        {
                            <span>Laatste tickets!</span>
                        }
                        else
                        {
                            <span>Uitverkocht</span>
                        }
                    </a>
                </div>
            </div>
        </div>
    }
</div>
